/* common */
*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    color: rgb(61, 59, 59);
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: rgba(229, 84, 115, 0.10);
}
/* header */
.header-info {
    display: block;
    padding-left: 8vw;
    color: rgb(61, 59, 59);
    
}
.header-title {
    font-size: 4.5vw;
    font-weight: 800;
    
}
.header-info p{
    padding-top: 2vw;
}
.cmn-btn{
    background: #E55473;
    border: none;
    border-radius: .5vw;
    padding: 1vw 2vw;
    margin-top: 2vw;
}
.header-img {
   width: 23vw;
   height: 40vw;
   padding-right: 8vw;
}
/* featured */

/* hot deal */
.deal-info{
    display: block;
    text-align: center;
    padding: 2vw 0 0 8vw;
    
}
.deal-info > h3,span{
    font-size: 3vw;
    font-weight: 800;
}
.deal-info span {
    color: #E55473;
}
.deal-info p {
    font-size: 1vw;
}
.hot-img{
    width: 15vw;
    height: 20vw;
    padding-right: 8vw;
}
