/* common */
*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    color: rgb(61, 59, 59);
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: rgba(229, 84, 115, 0.10);
}
.cmn-btn{
    background: #E55473;
    border: none;
    border-radius: .5vw;
    padding: 1vw 2vw;
    margin-top: 2vw;
    color:white
}
.cmn-btn:hover{
    background: #984658;
    cursor: pointer;
    border-radius: 0;
}
/* navber */
nav{
    display: flex;
    background: #e6cad0;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1vw;
    
        align-self: center;
        position: sticky;
        top: 0;
}
.nav-left{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 2vw;
}
.menu-item{
    display: none;
    position: absolute;
    border: none;
    list-style: none;
}
.menu-icon{
    display: flex;
}
.menu-icon i{
    width: 5vw;
    height: 5vw;
    font-size: 4vw;
    padding: 2.9vw 0 0 0;
    
}
.menu-icon:hover .menu-item {
    display: block;
    background:#d7c0c4;
    padding: 2vw;
    border-radius: 2vw;
}
.menu-item li a:hover{
    background: #7e7a7b;
    padding: 1vw;
    border-radius: 1.5vw;
} 

.menu-item li a {
    color: #504c4c;
    text-decoration: none;
    font-size: 2.5vw;
}
.menu-item li{
    padding-bottom: 1.5vw;
    list-style: none;
}
/* header */
.header-info {
    display: block;
    padding-left: 8vw;
    color: rgb(61, 59, 59);
    
}
.header-title {
    font-size: 4vw;
    font-weight: 800;
    
}
.header-info p{
    padding-top: 2vw;
}
.header-img {
   width: 23vw;
   height: 40vw;
   padding-right: 9vw;
}
/* featured */
.featured{
    text-align: center;
    padding-top: 10vw;
}
.featured h2{
    font-size: 3vw;
    font-weight: 800;
    padding-bottom: 1.5vw;
}
.featured-container{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1vw;
    padding: 4vw;
}


.f-img{
    width: 20vw;
    height: 25vw;
    border: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 5vw 3.2vw 0 3.2vw;
}

.f-img1{
    background: rgba(167, 33, 98, 0.1);
}
.f-img2{
    background: rgba(5, 151, 160, 0.15);
}
.f-img3{
    background: rgba(83, 144, 22, 0.15);
}
/* featured-2 */
.featured-2{
    display: flex;
    background-color:rgb(240, 233, 233);
    width: 75vw;
    justify-content:space-evenly;
    margin: 4vw auto;
    padding: 3.7vw ;
    text-align: center;

}
.featured-2 img{
    width: 4vw;
    height: 4vh;
}

/* hot deal */
.deal-info{
    display: block;
    text-align: center;
    padding: 2vw 0 0 8vw;
    
}
.deal-info > h3,span{
    font-size: 3vw;
    font-weight: 800;
}
span {
    color: #E55473;
}
.deal-info p {
    font-size: 1vw;
}
.hot-img{
    width: 15vw;
    height: 20vw;
    padding-right: 8vw;
}

/* instagram */
.instagram {
    padding: 10vw 0 3vw 0;
    text-align: center;

}
.instagram > h3{
    font-size: 4vw;
}
.instagram > p {
    font-size: 1vw;
    padding-top: 2vw;
}
.insta-flex{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1.2vw;

}
.insta-img{
    width: 18vw;
    height: 21vw;
}


/* subscribe section */
.subscribe-section{
    width: 70vw;
    height: 15vw;
    text-align: center;
    background-image: url("./Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em;
    margin: 5vw auto;

}
.subscribe-section h3{
    font-size: 3vw;
    font-weight: 800;
}
.subscribe-section p{
    font-size: 1vw;
}
.input-box{
    border: none;
    padding: 1.2vw;
    margin-right: 1vw;
    width: 30vw;
}
.input-box:hover{
    border: 0.2vw solid #E55473;
    padding: 1vw;
    
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5vw 0;
}
h1,h1 span{
    font-size: 5vw;
}
footer p{
    font-size: 1vw;
    padding: 1vw 0;
}
.foot-address{
    color: rgba(131, 134, 156, 0.9);
}