/* common */
*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    color: rgb(61, 59, 59);
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: rgba(229, 84, 115, 0.10);
}
.cmn-btn{
    background: #E55473;
    border: none;
    border-radius: .5vw;
    padding: 1vw 2vw;
    margin-top: 2vw;
    color:white
}
/* header */
.header-info {
    display: block;
    padding-left: 8vw;
    color: rgb(61, 59, 59);
    
}
.header-title {
    font-size: 4vw;
    font-weight: 800;
    
}
.header-info p{
    padding-top: 2vw;
}
.header-img {
   width: 23vw;
   height: 40vw;
   padding-right: 9vw;
}
/* featured */

/* hot deal */
.deal-info{
    display: block;
    text-align: center;
    padding: 2vw 0 0 8vw;
    
}
.deal-info > h3,span{
    font-size: 3vw;
    font-weight: 800;
}
.deal-info span {
    color: #E55473;
}
.deal-info p {
    font-size: 1vw;
}
.hot-img{
    width: 15vw;
    height: 20vw;
    padding-right: 8vw;
}

/* instagram */
.instagram {
    padding: 10vw 0 3vw 0;
    text-align: center;

}
.instagram > h3{
    font-size: 4vw;
}
.instagram > p {
    font-size: 1vw;
    padding-top: 2vw;
}
.insta-flex{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1.2vw;

}
.insta-img{
    width: 18vw;
    height: 21vw;
}


/* subscribe section */
.subscribe-section{
    width: 70vw;
    height: 15vw;
    text-align: center;
    background-image: url("./Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em;
    margin: 5vw auto;

}
.subscribe-section h3{
    font-size: 3vw;
    font-weight: 800;
}
.subscribe-section p{
    font-size: 1vw;
}
.input-box{
    border: none;
    padding: 1vw;
    margin-right: 1vw;
    width: 30vw;
}


